<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    {% include 'admin/common/header.html' %}
    <link rel="stylesheet" href="/static/admin/admin/css/other/console1.css"/>

    <!-- 主 题 更 换 -->
    <style id="pearadmin-bg-color"></style>
    <script type="text/javascript"> 
        function adjustIframe(){
        
        var ifm= document.getElementById("test");
        
        ifm.height=document.documentElement.clientHeight;
        
        ifm.width=document.documentElement.clientWidth;
        
        }
    </script>
</head>
    <iframe src="https://sugar.aipage.com/dashboard/591a83aab10bc88665e0a737aa82b995" frameborder="0" scrolling="yes" id="test" onload="adjustIframe();"></iframe>
    
</body>

</html>